@use '../variables' as *; 
@use '../_media.scss' as *;

.hero {
    padding-top: 200px;
    padding: 218px 0 245px;
    color: $light;
    background-color: $purple;
    background-image: url('/img/bg-dog.png'), url('/img/pattern.svg');
    background-image: image-set(
        url('/img/bg-dog.webp') type('image/webp') 1x,
        url('/img/bg-dog@2x.webp') type('image/webp') 2x,
        url('/img/bg-dog.png') type('image/png') 1x,
        url('/img/bg-dog@2x.png') type('image/png') 2x),
                    image-set(
        url('/img/pattern.svg')
        );
    background-size: contain, auto;
    background-position: right bottom, center;
    background-repeat: no-repeat, repeat;
    //background: center / cover no-repeat $purple url('/img/pattern.svg');

    @include bigscreen{
        padding: 148px 0 172px;
        background-image: url('/img/bg-dog-maxscreen.png'), url('/img/pattern.svg');
        background-position: left 48vw bottom 0, center;
        background-size: 1850px, auto;
    }

    @include laptop {
        padding: 148px 0 172px;
        background-image: url('/img/bg-dog-laptop.png'), url('/img/pattern.svg');
    }

    @include tablet {
        padding: 108px  0 461px;
        background-size: 655px 564px, cover;
        background-image: url('/img/bg-dog-tablet.png'), url('/img/pattern.svg');
    }

    @include mobile {
        padding: 100px 0 284px;
        background-size: 294px 261px, cover;
        background-image: url('/img/bg-dog-mobile.png'), url('/img/pattern.svg');
    }
    &--store {
        background-color: $green;
        background-image: url('/img/bg-cat.png'), url('/img/pattern.svg');
        background-image: image-set(
            url('/img/bg-cat.webp') type('image/webp') 1x,
            url('/img/bg-cat@2x.webp') type('image/webp') 2x,
            url('/img/bg-cat.png') type('image/png') 1x,
            url('/img/bg-cat@2x.png') type('image/png') 2x),
                        image-set(
            url('/img/pattern.svg')
            );
        background-size: 839px, auto;
        background-position: right bottom, center;
        background-repeat: no-repeat, repeat;

        @include laptop {
            background-size: 580px, auto;
        }

        @include tablet {
            background-size: 100%, auto;
        }
    }

    &__title {
        max-width: 100%;
        width: 810px;
        margin-bottom: 50px;

        @media (max-width: 1320px) {
            width: 660px;
        }

        @include laptop {
            width: 588px;
            margin-bottom: 32px;
        }

        @include mobile {
            margin-bottom: 16px;
        }
    }

    &__text {
        max-width: 420px;
        margin-bottom: 61px;

        &:last-child {
            margin-bottom: 0;
        }

        @include bigscreen {
            max-width: 540px;
        }

        @include laptop {
            max-width: 360px;
            margin-bottom: 40px;
        }
        
        @include mobile {
            margin-bottom: 20px;
        }
    
    }

    &__store-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        gap: 4px;
        border-radius: 40px;
        padding: 16px 24px;
        background-color: $green;
        font-weight: 700;
        text-align: center;
        color: $light;
        outline: 1px solid transparent;
        transition-property: background-color, outline, transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;

        &:hover {
            background: #00772f;
        }

        &:focus-visible {
            outline: 1px solid $carrot;
        }

        &:active {
            transform: scale(0.95);
        }

        &::after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background: url('/img/arrow-up.svg') no-repeat center/contain;
        }

        @include laptop {
            padding: 16px 36px;
        }

        @include mobile {
            padding: 11px 24px;
        }
    }
}